body{
    width: 100vh;
    overflow-x: hidden;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}
.section-1{
    background:#0b2840;
    padding: 4em;
    width: 100vw;
    position: absolute;
    left: 0;
    transform: skewY(-4deg);
}

.section-1 > h3,
.section-1 > h1{
    color: #fff;
    font-size: 3em;
    text-align: center;
    transform: skewY(4deg);
    font-weight: 500;
}

.section-1 > h3{
    font-size: 2em;
    max-width: 20em;
    margin: auto;
}