body{
    font-size: 20px;
    margin:0;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.section-1{
    background:#0b2840;
    padding: 4em 1em;
    left: 0;
    transform: skewY(-4deg);
}

.section-1 > h3,
.section-1 > h1{
    color: #fff;
    font-size: 3em;
    text-align: center;
    transform: skewY(4deg);
    font-weight: 500;
}

.section-1 > h3{
    font-size: 2em;
    max-width: 20em;
    margin: auto;
}

.section-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: 6em auto;
    width: fit-content;
    padding: 0 1em;
}

.section-2 > div:not(:last-child){
    margin-bottom: 4em;

}

.section-2 > div > img{
    height: 8em;
}

.section-2 > div > h4{
    font-weight: 500;
}

.section-contact{
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    background: #C2C2C2;
    padding: 1em;
}

.section-contact > a{
    display: flex;
    align-items: center;
}

.section-contact > a > img{
    height: 2em;
    margin-right: 1em;
}

.section-contact > a > p{
    margin: 0;
}

.footer{
    text-align: center;
    background:#0b2840;
    color: white;
    padding: 1.2em 2.5em;
}

.logo{
    margin: 0.4em
}

@media (min-width: 769px ){
    body{
        font-size: 18px;
    }

    .section-2 > div > img{
        height: 10em;
    }
}